body {
    background-image: url("../img/fries.jpg");
    font-family: 'Carter One', cursive;
}

h3 {
    text-align: center;
    color: rgb(145, 49, 11);
    margin-top: 15px;
    font-style: italic;
    font-size: 25px;
    margin-bottom: 30px;
}

h1{
    text-align: center;
    color: rgb(100, 23, 4);
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color:  rgb(100, 23, 4);
    text-align: center;
    font-style: italic;
}

#availableDiv, #eatenDiv {
    width: 48%;
    border-style: solid;
    border-color: rgb(236, 147, 46);
    border-width: 5px;
    border-radius: 15px;
    float: left;
    height: 500px;
    background-color: rgba(250, 235, 215, 0.7);
    margin-top: 20px;
    overflow: auto;
}

#availableDiv {
    margin-left: 1%;
    margin-right: 3%;
}



#newBurgerDiv {
    width: 99%;
    border-style: solid;
    border-color: rgb(236, 122, 46);
    border-width: 5px;
    border-radius: 15px;
    margin: 1%;
    margin-bottom: 20px;
    background-color: rgba(250, 235, 215, 0.7)
    
}

#submitBtn {
    margin-left: 87%;
    margin-bottom: 15px;
}

#ca {
    width: 80%;
}

label {
    font-size: 20px;
    margin-left: 35px;
    margin-right: 20px; 

}

li {
    margin-top: 20px;
    font-size: 20px;
}

.eatenList {
    text-decoration-line: line-through;
}

#devourBtn, #restoreBtn {
    float: right;
    margin-right: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

